<!--begin::Actions-->
<div class="d-flex align-items-center gap-3">
	<!--begin::Secondary button-->
	<div class="m-0">
		<!--begin::Menu-->
		<a href="#" class="btn btn-flex btn-sm btn-body btn-color-gray-600 h-35px bg-body fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
			History
		</a>
<!--layout-partial:partials/menus/_menu-1.html-->
		<!--end::Menu-->
	</div>
	<!--end::Secondary button-->
	<!--begin::Primary button-->
	<a href="#" class="btn btn-sm btn-flex btn-dark h-35 px-3"  data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
		<i class="ki-outline ki-plus-square fs-2"></i>		Invite
	</a>
	<!--end::Primary button-->
</div>
<!--end::Actions-->