<!--begin::Card Widget 23-->
<div class="card border-0 ">
    <!--begin::Body-->
    <div class="card-body py-12">
        <!--begin::Action-->
        <button class="btn btn-light-warning fs-3 fw-bolder w-100 py-5 mb-13"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Campaign Glossary</button>
        <!--end::Action-->
        <!--begin::Block-->
        <div class="d-flex border border-primary border-dashed rounded p-5 bg-light-primary mb-6">
            <!--begin::Icon-->
            <span class="me-5">
                <i class="ki-outline ki-information fs-3x text-primary"></i>
            </span>
            <!--end::Icon-->
            <!--begin::Section-->
            <div class="me-2">
                <a href="#" class="text-gray-800 text-hover-primary fs-4 fw-bolder">Important Note!</a>
                <span class="text-gray-700 fw-semibold d-block fs-5">Please add tracking code to your website to optimize your campaigns</span>
            </div>
            <!--end::Section-->
        </div>
        <!--end::Block-->
        <!--begin::Action-->
        <button class="btn btn-primary fs-3 fw-bolder w-100 py-5"  data-bs-toggle="modal" data-bs-target="#kt_modal_new_card">Add Conversion Tracking</button>
        <!--end::Action-->
    </div>
    <!--end::Body-->
</div>
<!--end::Card Widget 23-->