<!--begin::Card Widget 22-->
<div class="card card-reset mb-5 mb-xl-10">
    <!--begin::Body-->
    <div class="card-body p-0">
        <!--begin::Row-->
        <div class="row g-5 g-lg-9">
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Card-->
                    <div class="card card-shadow">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Items-->
                            <a href='?page=apps/subscriptions/list' class="btn btn-active-color-primary px-7 py-6 text-start w-100">
                                <!--begin::Icon-->
                                <i class="ki-outline ki-plus-square fs-2x fs-lg-2hx text-gray-500 ms-n1"></i>
                                <!--end::Icon-->
                                <!--begin::Desc-->
                                <div class="fw-bold fs-5 pt-4">
                                    Add New                                </div>
                                <!--end::Desc-->
                            </a>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Card-->
                    <div class="card card-shadow">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Items-->
                            <a href='?page=apps/ecommerce/catalog/products' class="btn btn-active-color-primary px-7 py-6 text-start w-100">
                                <!--begin::Icon-->
                                <i class="ki-outline ki-element-11 fs-2x fs-lg-2hx text-gray-500 ms-n1"></i>
                                <!--end::Icon-->
                                <!--begin::Desc-->
                                <div class="fw-bold fs-5 pt-4">
                                    eCommerce                                </div>
                                <!--end::Desc-->
                            </a>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Card-->
                    <div class="card card-shadow">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Items-->
                            <a href='?page=pages/contact' class="btn btn-active-color-primary px-7 py-6 text-start w-100">
                                <!--begin::Icon-->
                                <i class="ki-outline ki-message-edit fs-2x fs-lg-2hx text-gray-500 ms-n1"></i>
                                <!--end::Icon-->
                                <!--begin::Desc-->
                                <div class="fw-bold fs-5 pt-4">
                                    Contacts                                </div>
                                <!--end::Desc-->
                            </a>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Card-->
                    <div class="card card-shadow">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Items-->
                            <a href='?page=apps/file-manager/folders' class="btn btn-active-color-primary px-7 py-6 text-start w-100">
                                <!--begin::Icon-->
                                <i class="ki-outline ki-rocket fs-2x fs-lg-2hx text-gray-500 ms-n1"></i>
                                <!--end::Icon-->
                                <!--begin::Desc-->
                                <div class="fw-bold fs-5 pt-4">
                                    File Manager                                </div>
                                <!--end::Desc-->
                            </a>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Card-->
                    <div class="card card-shadow">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Items-->
                            <a href='?page=apps/subscriptions/list' class="btn btn-active-color-primary px-7 py-6 text-start w-100">
                                <!--begin::Icon-->
                                <i class="ki-outline ki-chart-pie-3 fs-2x fs-lg-2hx text-gray-500 ms-n1"></i>
                                <!--end::Icon-->
                                <!--begin::Desc-->
                                <div class="fw-bold fs-5 pt-4">
                                    Subscriptions                                </div>
                                <!--end::Desc-->
                            </a>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
                            <!--begin::Col-->
                <div class="col-6">
                    <!--begin::Card-->
                    <div class="card card-shadow">
                        <!--begin::Body-->
                        <div class="card-body p-0">
                            <!--begin::Items-->
                            <a href='?page=apps/support-center/overview' class="btn btn-active-color-primary px-7 py-6 text-start w-100">
                                <!--begin::Icon-->
                                <i class="ki-outline ki-rescue fs-2x fs-lg-2hx text-gray-500 ms-n1"></i>
                                <!--end::Icon-->
                                <!--begin::Desc-->
                                <div class="fw-bold fs-5 pt-4">
                                    Help Center                                </div>
                                <!--end::Desc-->
                            </a>
                            <!--end::Items-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Col-->
        </div>
    </div>
    <!--end::Body-->
</div>
<!--end::Card Widget 22-->