<!--begin::Content-->
<div id="kt_app_content" class="app-content " >
<!--begin::Row-->
<div class="row g-5 g-xxl-10">
    <!--begin::Col-->
    <div class="col-xxl-4 mb-xxl-10">
<!--layout-partial:partials/widgets/cards/_widget-22.html-->
<!--layout-partial:partials/widgets/cards/_widget-23.html-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-8 mb-5 mb-xl-10">
<!--layout-partial:partials/widgets/engage/_widget-14.html-->
<!--layout-partial:partials/widgets/tables/_widget-17.html-->
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->
<!--layout-partial:partials/widgets/engage/_widget-13.html-->
    </div>
<!--end::Content-->