<!--begin::Engage widget 13-->
<div class="card card-flush ">
    <!--begin::Header-->
    <div class="card-header pt-7 mb-2">
        <!--begin::Title-->
        <h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-800">Time Series</span>
			<span class="text-gray-500 mt-1 fw-semibold fs-6">Let’s add some useful info here</span>
		</h3>
        <!--end::Title-->
        <!--begin::Toolbar-->
        <div class="card-toolbar">
            <a href="assets/media/apps/ecommerce/sales/details" class="btn btn-sm btn-light">Help</a>
        </div>
        <!--end::Toolbar-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body text-center">
        <!--begin::Select-->
        <select class="form-select fs-4 text-gray-600 ps-7 py-5 mb-7" data-control="select2" data-placeholder="Dropdown Fixed">
            <option></option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
        </select>
        <!--end::Select-->
        <!--begin::Illustration-->
        <img class="h-250px mb-8 theme-light-show" src="assets/media/illustrations/sigma-1/21.png" alt=""/>
        <img class="h-250px mb-8 theme-dark-show" src="assets/media/illustrations/sigma-1/21-dark.png" alt=""/>
        <!--end::Illustration-->
        <!--begin::Text-->
        <h1 class="fw-semibold text-gray-600 mb-lg-12">
            We are not able to generate chart of campaigns <br/>
            at the moment. Please try later.
        </h1>
        <!--end::Text-->
    </div>
    <!--end::Body-->
</div>
<!--end::Engage widget 13-->