<!--begin::Engage widget 14-->
<div class="card border-0 mb-5 mb-xl-11" data-bs-theme="light" style="background-color: #844AFF">
    <!--begin::Body-->
    <div class="card-body py-0">
        <!--begin::Row-->
        <div class="row align-items-center lh-1 h-100">
            <!--begin::Col-->
            <div class="col-7 ps-xl-10 pe-5">
                <!--begin::Title-->
                <div class="fs-2qx fw-bold text-white mb-6">
                    Upgrade Your Plan
                </div>
                <!--end::Title-->
                <!--begin::Text-->
                <span class="fw-semibold text-white fs-6 mb-10 d-block opacity-75">
                    Flat cartoony and illustrations with vivid unblended purple hair lady
                </span>
                <!--end::Text-->
                <!--begin::Items-->
                <div class="d-flex align-items-center flex-wrap d-grid gap-2 mb-9">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-5 me-xl-13">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-30px symbol-circle me-3">
                            <span class="symbol-label" style="background: rgba(255, 255, 255, 0.1)">
                                <i class="ki-outline ki-abstract-41 fs-5 text-white"></i>                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Info-->
                        <div class="text-white">
                            <span class="fw-semibold d-block fs-8 opacity-75 mb-2">Projects</span>
                            <span class="fw-bold fs-7">Up to 500</span>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-30px symbol-circle me-3">
                            <span class="symbol-label" style="background: rgba(255, 255, 255, 0.1)">
                                <i class="ki-outline ki-abstract-26 fs-5 text-white"></i>                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Info-->
                        <div class="text-white">
                            <span class="fw-semibold opacity-75 d-block fs-8 mb-2">Tasks</span>
                            <span class="fw-bold fs-7">Unlimited</span>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Items-->
                <!--begin::Action-->
                <div class="d-flex d-grid gap-2">
                    <a href="#" class="btn btn-success me-lg-2"  data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Upgrade</a>
                    <a href="#" class="btn text-white" style="background: rgba(255, 255, 255, 0.2)"  data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Help</a>
                </div>
                <!--end::Action-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-5 pt-5 pt-lg-15">
                <!--begin::Illustration-->
                <div class="bgi-no-repeat bgi-size-contain bgi-position-x-end bgi-position-y-bottom h-325px" style="background-image:url('assets/media/svg/illustrations/easy/8.svg">
                </div>
                <!--end::Illustration-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Body-->
</div>
<!--end::Engage widget 14-->