<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
    <!--begin::User menu-->
    <div class="app-navbar-item" id="kt_header_user_menu_toggle">
        <!--begin::Menu wrapper-->
        <div class="d-flex align-items-center border border-dashed border-gray-300 rounded p-2"
            data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
            data-kt-menu-attach="parent"
            data-kt-menu-placement="bottom-end"
        >
            <!--begin::User-->
            <div class="cursor-pointer symbol me-3 symbol-35px symbol-lg-45px">
                <img class src="assets/media/avatars/300-1.jpg" alt="user"/>
            </div>
            <!--end::User-->
            <!--begin:Info-->
            <div class="me-4">
                <a href="?page=pages/user-profile/projects" class="text-gray-900 text-hover-primary fs-6 fw-bold">Jacob Jones</a>
                <a href="?page=pages/user-profile/overview" class="text-gray-500 text-hover-primary fs-7 fw-bold d-block">@jacobjs</a>
            </div>
            <!--end:Info-->
            <i class="ki-outline ki-down fs-2 text-gray-500 pt-1"></i>
        </div>
<!--layout-partial:partials/menus/_user-account-menu.html-->
        <!--end::Menu wrapper-->
    </div>
    <!--end::User menu-->
    <!--begin::Sidebar menu toggle-->
        <!--end::Sidebar menu toggle-->
</div>
<!--end::Navbar-->